
body{
    background-color: #0a263b;
    font-family: 'Open Sans', sans-serif;
    font-weight: 100;
    color:whitesmoke;
    font-size: 16px;
    line-height: 1.6em;
  }
  


fieldset {
    background-color:hsl(205, 65%, 26%);
    margin: 30px;


  }
  
  legend {
    background-color: hsl(205, 40%, 41%);;
    color: rgb(204, 204, 226);
    padding: 0px 7px;
    margin: 20px 0;
    border-radius: 4px;
    border: 2px solid whitesmoke;
    
  }
  
  input {
    margin: 5px;

  }

  
  input[type=button] {
    background-color: hsl(205, 40%, 41%);
    border: none;
    color: white;
    padding: 4px 10px;
    border-radius: 4px;
    text-decoration: none;
    margin: 5px 30px;
    border: 1px solid whitesmoke;
    cursor: pointer;

  }

  input[type=text] {
    background-color: hsl(205, 40%, 41%);
    border: none;
    color: white;
    padding: 4px 10px;
    border-radius: 4px;
    text-decoration: none;
    margin: 5px 00px;
    border: 1px solid whitesmoke;
    cursor: pointer;
  }

  input[type=file] {
    background-color: hsl(205, 40%, 41%);
    border: none;
    color: white;
    padding: 4px 10px;
    border-radius: 4px;
    text-decoration: none;
    margin: 5px 00px;
    border: 1px solid whitesmoke;
    cursor: pointer;
  }


  
  textarea {

    background-color:  hsl(205, 40%, 41%);

}
  


select {

  background-color:  hsl(205, 40%, 41%);

}


label[for="uname"] {

  background-color: #0a263b;
  color: rgb(204, 204, 226);
  padding: 8px 60px;
  margin: 5px;

  
}


label[for="pword"] {

  background-color: #0a263b;
  color: rgb(204, 204, 226);
  padding: 8px 60px;
  margin: 5px;
}


label[for="fname"] {

  background-color: #0a263b;
  color: rgb(204, 204, 226);
  padding: 8px 60px;
  margin: 5px;

}

label[for="gender"] {

  background-color: #0a263b;
  color: rgb(204, 204, 226);
  padding: 8px 60px;
  margin: 5px;
}
label[for="radio1"] {

  background-color: #0a263b;
  color: rgb(204, 204, 226);
  padding: 8px 60px;
  margin: 5px;

}

label[for="radio2"] {

  background-color: #0a263b;
  color: rgb(204, 204, 226);
  padding: 8px 60px;
  margin: 5px;

}

label[for="favcolor"] {

  background-color: #0a263b;
  color: rgb(204, 204, 226);
  padding: 8px 60px;
  margin: 5px;

}

label[for="education"] {

  background-color: #0a263b;
  color: rgb(204, 204, 226);
  padding: 8px 60px;
  margin: 5px;

}

label[for="skills"] {

  background-color: #0a263b;
  color: rgb(204, 204, 226);
  padding: 8px 60px;
  margin: 5px;

}

label[for="checkbox1"] {

  background-color: #0a263b;
  color: rgb(204, 204, 226);
  padding: 8px 60px;
  margin: 5px;

}

label[for="checkbox2"] {

  background-color: #0a263b;
  color: rgb(204, 204, 226);
  padding: 8px 60px;
  margin: 5px;

}

label[for="checkbox3"] {

  background-color: #0a263b;
  color: rgb(204, 204, 226);
  padding: 8px 60px;
  margin: 5px;

}

label[for="checkbox4"] {
  background-color: #0a263b;
  color: rgb(204, 204, 226);
  padding: 8px 60px;
  margin: 5px;

}



label[for="picture"] {

  background-color: #0a263b;
  color: rgb(204, 204, 226);
  padding: 8px 60px;
  margin: 5px;

  
}

label[for="comments"] {

  background-color: #0a263b;
  color: rgb(204, 204, 226);
  padding: 8px 60px;
  margin: 5px;

}
















