html {
    box-sizing: border-box
    
}

*,
*:before,
*:after {
	box-sizing: inherit
}

html {
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%
}

body {
    background: url("image/silk.jpg");
	font-family: Verdana, sans-serif;
	font-size: 15px;
	line-height: 1.5;
	margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: "Segoe UI", Arial, sans-serif;
	font-weight: 400;
    margin: 10px 
    
}

 img{
    
	max-width: 700%;
	height: auto;
}
.img-circle{
    border-radius: 20%;
  }

  #img-profile{
    width: 250px;
    height: 250px;
    border: 10px solid #7280b4;
  }


header {
    background: url("image/blue-silk.jpg");
	width: 100%;
	padding: 40px 0;
	color: #3b2d2d;
	text-align: center;
    padding: 1rem;

}



.modal-footer {
    background: url("image/blue-silk.jpg");
    color: #ffffff;
    width: 100%;
    padding: 40px 0;
    text-align: center;
}

   
nav a {
	overflow: hidden;
	text-decoration: none;
	color: inherit;
	padding: 10px;
	color: #3b2d2d
}





nav ul {

	
	color: #3b2d2d;
	padding: 0.80px 0.80px 0.80px 0.80px;
	text-align: center;
	margin: 1px 1px 1px 1px;

   
}

nav ul li {
	
	display: inline-block;
    padding: 20px;
    border: 5px solid rgb(5, 18, 61);
}

ul li:hover,
.dropdown-click:hover {
	background: url("image/silk-light.jpg");

}

.dropdown-content {
	display: none;
	position: absolute;
	min-width: auto;
	background: url("image/silk-light.jpg");
	margin: auto;
	padding: auto;
	
	
}

section {
	line-height: 1.5em;
	font-size: 0.9em;
	padding: 20px;
    width: 80%;
	margin: auto;
    background: url("image/silk-light.jpg");
	text-align: center;
	
}
.dropdown-content :hover {
	background: rgb(192, 192, 192);
}
.dropdown:hover .dropdown-content {
	display: grid;
}


img {
	width: 80%;
	height: 60%;
}
* {
	box-sizing: border-box
}
body {
	font-family: Verdana, sans-serif;
}
#map {
	height: 400px;
	width: 60%;
	
}

.search {
    background-color: transparent;
    border: 2px solid #22254b;
    border-radius: 50px;
    color: #fff;
    font-family: inherit;
    font-size: 1rem;
    padding: 0.5rem 1rem;
}

.search::placeholder {
    color: #242b92;
}

.search:focus {
    background-color: #27679b;
    outline: none;
}

main {
    display: flex;
	flex-wrap: wrap;
}

.movie {
    background-color: #373b69;
    border-radius: 3px;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    position: relative;
    margin: 1rem;
    width: 200px;
}

.movie img {
    width: 100%;
}

.movie-info {
    color: rgb(219, 215, 215);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 1rem 1rem;
    letter-spacing: 0.5px;
}

.movie-info h3 {
    margin: 0;
}

.movie-info span {
    background-color: #272a53;
    border-radius: 3px;
    font-weight: bold;
    padding: 0.25rem 0.5rem;
}
.movie-info span.green {
    color: rgb(39, 189, 39);
}

.movie-info span.orange {
    color: orange;
}

.movie-info span.red {
    color: rgb(189, 42, 42);
}





