

body{

    background-color: #02151f;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    color:  #994a4a;
    font-size: 16px;
    line-height: 1.6em;
  }

 
  
  h1, h2, h3{
    font-family: 'Montserrat', sans-serif;
  }
  
  h1{
    color: #0f0d0d;
    font-size: 25px;
    font-weight: 300;
  }
  
  h2{
    color: #0f0d0d;
    font-size: 20px;
    font-weight: 300;
  }
  
  h3{
    color: #0f0d0d;
    font-size: 16px;
    font-weight: 300;
  }
  
  p{
    color: #0f0d0d;
    text-align: justify;
  }
  
  a{
    color: rgb(2, 17, 65);
    text-decoration: none;
  }
  
  a:hover{
    color: #DD5555;
    text-decoration: none;
  }
  
  .card{
    background: rgb(1, 31, 28) bottom right/50px 50px;
     animation: mymove 5s infinite;
    }


    @keyframes mymove {
      60% {background: rgb(24, 170, 24) bottom left/50px 50px;}

     }


     @keyframes mymove {
      50% {background: rgb(218, 214, 9) bottom left/50px 50px;}

     }


     
    
    
  .container-fluid{
    width: 100%;
    margin: 30px auto;
  }
  
  .img-circle{
    border-radius: 20%;
  }
  .text-center{
    text-align: center;
  
  }
  .list-inline {
    padding-left: 0;
  }
  .list-inline li {
    display: inline-block;
    padding: 30px;
  }
  .list-inline li i{
    font-size: 40px;
  }
  .btn-red{
    background-color: #DD5555;
    color: rgb(209, 202, 209);
    font-weight: 500;
    padding: 10px;
    border-radius: 4px;
  }
  .btn-red:hover{
    background-color: #0f0352;
    color: rgb(6, 58, 61);
  }

  #img-profile{
    width: 250px;
    height: 250px;
    border: 10px solid #968b2c;
    float: center;

  }
 
  
 